body{
    
    color: white;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}
.app{
    display: flex;
    flex-direction: column;
}

.top{
    height: 6vh;
    display: flex;
    justify-content: space-between;
    padding: 3px 1rem;
    background: #3064b7;
}

.topleft{
    display: grid;
    grid-auto-flow: column;
    gap: 3rem;
    align-items: center;
}
.topright{
    display: grid;
    align-content: center;
}
.app-main{
    color: #555555;
    flex: auto;
    height: 93vh;

    padding: 0.7rem;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    display: grid;
    gap: 1.1rem;
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: 1rem;
}

.card{
    background:#00a4f3;
    color: #ffffff;
    height: 20vh;
    border-radius: 5px;
    padding: .5rem 1rem;
    font-size: 20px;
    line-height: 1.5rem;
    display: grid;
}
.lower-section, .active{
    background: #d8d8d8;
}

.main-inner{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar{
    display: grid;
    color: #ffffff;
    grid-template-rows: 5vh 5vh 5vh 5vh 5vh 5vh 5vh auto;
    row-gap: 5px;
}
.sidebar-item{
    height: 5vh;
    padding-left: 1rem;
    background-color: #00a4f3;
    display: grid;
    align-items: center;
}

.footerlogo{
    padding-left: .5rem;
}

.top-section{
    height: 5vh;
    background: #00a4f3;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.main-otha{
    display: grid;
    grid-auto-flow: column;
    padding-right: 1rem;
    align-items: center;
}

.main-heading{
    display: grid;
    align-items: center;
    padding-left: 1rem;
    font-weight: bold;
}

.sub2, .sub3{
    color: #e7e6e6;
}
.lower-section{
    display: grid;
    grid-template-rows: 1fr 1fr auto 1fr;
    row-gap: 1rem;
    padding: 1rem;
}

.first, .second, .third, .forth{
    display: grid;
    grid-auto-flow: row;
    row-gap: 2px;
}
.inputSelect{
    display: grid;
    grid-auto-flow: column;
    column-gap: 15%;
}

input, select{
    height: 2rem;
    background: #e7e6e6;
    border: 1px solid grey;
}

textarea{
    border: 1px solid grey;
    resize: none;
    height: 15vh;
    background: #e7e6e6;
}
.forth button{
    background: #00a4f3;
    color: white;
    height: 2rem;
    border: none;
    width: 60%;
    margin: 0 auto;

}

.toleft{
    font-size: 12px;
    font-weight: bold;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.rightAlign{
    text-align: right;
}

.card-down{
    padding-top: 1rem;
    font-size: 25px;
}

.ofThree{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.divide{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 3rem;
}

.boxRadio {
    padding: 0.2em;
    -webkit-appearance: none;
    outline: 0.1em solid black;
    outline-offset: 0.1em;
    height: 0.2em;
}
  
.boxRadio:checked {
    display: inline-block;
    background-color: #000;
}

.toRight{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 2rem;
}

.placeCenter{
    place-self: center;
}

.tolefter{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.formatCenter{
    display: grid;
    grid-auto-flow: column;
}
.ser{
    width: 15rem;
}

.marg{
    margin-right: 1rem;
}